.sideNavContainer{
    background:linear-gradient(white,rgba(255, 255, 255, 0.87),transparent),url('../../public/static/pages/canva1.png');
    background-size: 600px;
    box-shadow: 1px 0 0px rgba(0, 0, 0, 0.13);
    position:sticky;
    top:0;
    height:100vh;
}
.sideNavContainer ul li{
    cursor: pointer;
}
.profileContainer{
    overflow-y:auto;
    min-height: 100vh;
}

.parentContainer{
    height:100%;
}
.dashboardBody{
    position:relative;
    top:-5rem;
    display:grid;
    grid-template-columns: 0.75fr 0.25fr;
}
.addGig{
    border-radius:1rem;
    margin:1rem;
    padding:1rem;
    box-shadow:1px 1px 10px rgba(0,0,0,0.3);
    /* width:30vw; */
}
.authPostContainer{
    border-radius:0.5rem;
    overflow: hidden;
    background:white;
    position:relative;
}
.authPostContainer::before{
    position: absolute;
    bottom:0;
    left:0;
    width:100%;
    height:100%;
    content:'';
    background:#00000060;
    clip-path: polygon(0 14%, 100% 89%, 100% 100%, 0% 100%);
    z-index:10;
    opacity:0;
    transition:all 0.3s ease;
}
.authPostContainer::after{
    position: absolute;
    bottom:0;
    left:0;
    width:100%;
    height:100%;
    content:'';
    background:#00000062;
    z-index:10;
    clip-path: polygon(0 90%, 100% 50%, 100% 100%, 0% 100%);
    opacity:0;
    transition:all 0.3s ease;
    border:1px solid #f59e0b;

}
.authPostContainer:hover::before,.authPostContainer:hover::after{
    opacity:1;
}
.authPostContainer .textForImageAuth{
    position:Absolute;
    left:50%;
    bottom:15%;
    transform:translate(-50%,0);
    text-align:Center;
    color:white;
    z-index:11;
    opacity:0;
    transition:all 0.3s ease;
}
.authPostContainer:hover .textForImageAuth{
    opacity:1;
}
