.sideNavContainer{
    background:linear-gradient(white,rgba(255, 255, 255, 0.87),transparent),url('../../public/static/pages/canva1.png');
    background-size: 600px;
    box-shadow: 1px 0 0px rgba(0, 0, 0, 0.13);
    position:sticky;
    top:0;
    height:100vh;
}
.sideNavContainer ul li{
    cursor: pointer;
}
.profileContainer{
    margin:1rem;
    overflow-y:auto;
    min-height: 100vh;
}

.parentContainer{
    height:100%;
}
.dashboardBody{
    position:relative;
    top:-5rem;
    display:grid;
    grid-template-columns: auto 0.2fr;;
}
.addGig{
    border-radius:1rem;
    margin:1rem;
    padding:1rem;
    box-shadow:1px 1px 10px rgba(0,0,0,0.3);
    /* width:30vw; */
}
