h1{

}
.basicButton{
    padding:0.5rem 1rem;
    font-size:0.9rem;
    background:white;
    border:2px solid black;
    transition: all 0.3s ease;
}
.basicButton:hover{
    border:2px solid white;
    background:rgba(245,158,11);
    color:white;
}
.basicDarkButton{
    padding: 0 1rem;
    border-radius:0.25rem;
    background:#f59e0b;
    color:white;
}
.standardInput{
    padding:0.5rem;
    margin:0.5rem;
    border-radius:0.25rem;
}