body{
    font-family:Noto Sans Display;
}
@font-face{
    font-family:'signature';
    src:url('/static/fonts/signatureAmsterdam.ttf')

}
.signature{
    font-family:"signature";
}
.GFG {
    color:transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
}
.basicButton{
    padding:0.5rem 1rem;
    font-size:0.9rem;
    background:white;
    border:2px solid black;
    transition: all 0.3s ease;
}
.basicButton:hover{
    border:2px solid white;
    background:rgba(245,158,11);
    color:white;
}
.basicDarkButton{
    padding: 0.5rem 1rem;
    border-radius:0.25rem;
    background:#f59e0b;
    color:white;
    border:1px solid #f59e0b;
}
.basicDarkButtonInvert{
    padding:0.5rem 1rem;
    border-radius:0.25rem;
    border:1px solid black;
}
.standardInput{
    padding:0.5rem;
    margin:0.5rem;
    border-radius:0.25rem;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
input[type="file"] {
    display: none;
}
.textarea{
    border:none;
    min-height:5rem;
    height:fit-content;
    resize: none;
    width:100%;
    font-size:1.25rem;
    background:#eee;
    padding:0.5rem;
}
.MuiSelect-select{
    padding:0rem !important;
    padding-left:1rem !important;
    font-size:0.8rem !important;
    background:linear-gradient(white,#ccc) !important;
    width:8rem !important;
}
.MuiPagination-text{
  background:Red;
}
.PNFContainer{  
    height:calc(100vh - 10rem);
    width:100%;
    background:url("../public/static/pages/404.png") no-repeat bottom;
    background-size:cover;
}
.playerLeftContainer{
    background-size:contain !important;
    background:url('../public/static/pages/player.png') no-repeat left;
}
