h1{

}
body{
    font-family:Noto Sans Display;
}
.basicButton{
    padding:0.5rem 1rem;
    font-size:0.9rem;
    background:white;
    border:2px solid black;
    transition: all 0.3s ease;
}
.basicButton:hover{
    border:2px solid white;
    background:rgba(245,158,11);
    color:white;
}
.basicDarkButton{
    padding: 0 1rem;
    border-radius:0.25rem;
    background:#f59e0b;
    color:white;
    border:1px solid #f59e0b;
}
.basicDarkButtonInvert{
    padding:0.5rem 1rem;
    border-radius:0.25rem;
    border:1px solid black;
}
.standardInput{
    padding:0.5rem;
    margin:0.5rem;
    border-radius:0.25rem;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
input[type="file"] {
    display: none;
}
.textarea{
    border:none;
    min-height:5rem;
    height:fit-content;
    resize: none;
    width:100%;
    font-size:1.25rem;
    background:#eee;
    padding:0.5rem;
}
.MuiSelect-select{
    padding:0rem;
    padding-left:1rem;
    font-size:0.8rem;
    background:linear-gradient(white,#ccc);
}
.MuiPagination-text{
  background:Red;
}